@model Listing

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model != null)
{

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-action="Index">Popis artikla</a></li>
			<li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
		</ol>
	</nav>

	<div class="row">
		<div class="col-md-4">
			@if (Model.Attachments != null && Model.Attachments.Any())
			{
				var firstAttachmentPath = Model.Attachments.FirstOrDefault()?.AttachmentPath ?? "";
				<img src="@Url.Content(firstAttachmentPath)" class="img-fluid rounded" alt="Slika proizvoda" />
			}

			else
			{
				<img src="https://via.placeholder.com/300x250?text=No+Image" class="img-fluid rounded" alt="No image" />
			}
		</div>

		<div class="col-md-8">
			<dl class="row">
				<dt class="col-sm-4">ID</dt>
				<dd class="col-sm-8">@Model.ID</dd>

				<dt class="col-sm-4">Ime</dt>
				<dd class="col-sm-8">@Model.Title</dd>

				<dt class="col-sm-4">Opis</dt>
				<dd class="col-sm-8">@Model.Description</dd>

				<dt class="col-sm-4">Cijena</dt>
				<dd class="col-sm-8">@Model.Price €</dd>

				<dt class="col-sm-4">Kreirano na datum:</dt>
				<dd class="col-sm-8">@Model.CreatedAt.ToString("dd.MM.yyyy")</dd>

				<dt class="col-sm-4">Tip</dt>
				<dd class="col-sm-8">@Model?.ListingType?.Name</dd>

				<dt class="col-sm-4">Grad</dt>
				<dd class="col-sm-8">@Model?.City?.Name</dd>
			</dl>

			<a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Uredi</a>
		</div>
	</div>

}
else
{
	<div class="alert alert-danger">
		Nije odabran ispravni ID klijenta.
	</div>

}

